{% extends 'base.html' %}


    {% block breadcrumb %}
          <li class="breadcrumb-item active">Hear Clear</li>
    {% endblock %}

    {% block content %}


    <table class="table">
        <thead class="thead-inverse">
            <tr>
                <th> Title </th>
                <th> Date </th>
                <th> Delete </th>
            <tr>
        <thead>
        
        <tbody>
            {% for songfile in songs %}
                <tr>
                    <td> <a href="{% url 'song-detail' songfile.pk %}">{{ songfile.title }} </a>  </td>
                    <td> {{ songfile.date }}</td>
                    <td> 
                        <form method="post" action = "{% url 'delete_song' songfile.pk %}">
                        {% csrf_token %}
                        <button type="submit" class = "btn btn-outline-primary"> Delete </button>
                        </form> </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}