{% extends 'base.html' %}

{% block title %}
  Search
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active">Hear Clear</li>
{% endblock %}

{% block content %}

<style>
 
    
    /*Responsive table*/
    table { 
      width: 100%; 
      border-collapse: collapse; 
      background: #34495e; 
      color: #f3f3f3;
    }
    
    td, th { 
      padding: 8px; 
      text-align: left; 
    }
    
    /* Zebra striping */
    tr:nth-of-type(odd) { 
      background: #6495ED; 
    }
    
    th { 
      background: #2c3e50; 
      font-weight: bold; 
    }
    
    h1 a {
      text-decoration: none;
      color: #fff;
    }

    
      
</style>

    <table class="table">

        <tbody>

        {% if post %}
        <h1> Search Result Found </h1>

        <br>

            {% for songfile in post %}
            <tr>
                <td> <a href="{% url 'song-detail' songfile.pk %}" style="color: #000;">{{ songfile.title }} </a>  </td>
                <td> {{ songfile.date }}</td>
            </tr>

            {% endfor %}
            {% else %}
            <h1> Search Result NOT Found </h1>
            {% endif %}
        </tbody>
    </table>
    {% endblock %}