{% extends 'base.html' %}





{% block title %}
    {{ songfile.title }}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home'%}">Hear Clear</a></li>
  <li class="breadcrumb-item active">{{ songfile.title }}</li>
{% endblock %}

{% block content %}

<style>

    .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #00BFFF;
}

.styled-table tbody tr:nth-of-type(odd) {
    background-color: #ADD8E6;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #00008B;
}

.styled-table tbody tr:first-of-type {
    border-top: 2px solid #00008B;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #00008B;
}


</style>

    <h2>{{songfile.title}}</h2>
    <link href='https://fonts.googleapis.com/css?family=Allerta' rel='stylesheet'>
    
    <img src="{{ songfile.image.url }}" width="400" height="379">

    <div class="container-audio">
        <audio controls  loop autoplay>
                   <source src="{{ songfile.audio.url }}" type="audio/wav">
                   Your browser dose not Support the audio Tag
        
        </audio>

        <table class="styled-table">
                <tbody>
                    <tr>
                      <td> Duration (seconds)</td>
                      <td> {{ songfile.duration }}</td>
                    </tr>
                    <tr>
                      <td> File Size (kB) </td>
                      <td> {{ songfile.file_size }} </td>
                    </tr>
                    <tr>
                        <td> Sampling Frequency </td>
                        <td> {{ songfile.samp_freq }}</td>
                    </tr>
                    <tr>
                        <td> File Type </td>
                        <td>  {{ songfile.file_type }} </td>
                    </tr>
                </tbody>
        </table>

        <br>
        <br>

        <h2>Comments...</h2>

        {% if not songfile.comments.all %}
            No Comments Yet...<a href="{% url 'comments' songfile.pk %}"> Add One</a>
        
        {% else %}
            {% for comments in songfile.comments.all %}
            <br><strong>{{ comments.name }} - {{ comments.date_added }}</strong>
            <br>
            {{ comments.body }} <br>
            {% endfor %}
            <a href="{% url 'comments' songfile.pk %}"> Add Comments </a>
        {% endif %}

{% endblock %}